[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "speakeasyR"]
	path = speakeasyR
	url = https://github.com/speakeasy-2/speakeasyr
